html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  // display: grid;
  // grid-template-rows: auto 1fr auto;
  // grid-template-columns: 100%;
  // max-width: $page-width;
  // min-height: 98vh;
  display: block;
  margin: 0 auto 2em auto;
  max-width: $page-width;
  position: relative;
  padding: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

// nav ul {
//   list-style-type: none;
//   display: flex;
//   padding: 0;
//   margin: 0;
// }
//
// nav ul li {
//   margin: 0 5px;
// }
//
// .active {
//   border: 1px 0 1px 1px;
// }

footer {
  padding-top: 5px;
  margin-top: auto;
  border-top: 1px solid;
  position: relative;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
}
