@media print {
    .no-print, header, footer {
        display: none !important;
    }
    main {
        width: 100vw;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: ' (' attr(href) ')';
    }
    pre {
        border: none;
        box-shadow: none;
    }
}