body {
	font-family: $font;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height:1.5;
	font-size: $font-size;
	color: $text;
}

a {
	text-decoration-skip-ink: auto;
	text-decoration: underline;
	color: $link;
}

blockquote {
	font-style: italic;
	margin: 1em 2em;
}

// p {
	// text-align: justify;
	// text-justify: inter-word;
// }

h1, h2, h3, h4, h5, h6 {
	font-family: $sans;
	line-height: 1.0;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a, header a{
	text-decoration: none; // remove heading underline
}

img {
    display: block;
    margin: 2em auto;
	max-width: 80%;
    max-height: 20em;
	border: 1px solid $text;
	box-shadow: 5px 5px 5px #eee;
}

table {
    margin: 1em auto;
	justify-content: center;
	border-collapse: collapse;
	// table-layout: fixed;
	// width: 100%;
	overflow-x: auto;
}

thead {
	border-bottom: 1px solid;
}

th {
	padding: 0 50px; 
	text-align: left;
}

hr {
	border: none;
	height: 1px;
	background-color: $text;
}

@media (prefers-color-scheme: dark) {
	body {
		color: $darktext;
		background: $darkbackground;
	}
	a {
		color: $darklink;
	}
	hr {
		background-color: $darktext;
	}
	img {
		box-shadow: 3px 3px 3px #666;
	}
}