// Text settings
$font: "Palatino", "Georgia", serif;
$sans: "Avenir", "Helvetica", system-ui, sans-serif;
$mono: "FiraCode Nerd Font", monospace;
$font-size: 1em;
$code-size: 0.8em;
$text: #0d0d0d;
$link: #0d0d0d; // #0479A8;

// Dark mode settings
$darktext: #fbfbfb;
$darklink: #fbfbfb;
$darkbackground: #121212;
$dark200: #282828;

// Page layout settings
$page-width: 42em; // minimum width for full layout