{{/* site metadata */}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- with .Site.Params.csp -}}
    <meta http-equiv="Content-Security-Policy"
        content="upgrade-insecure-requests; block-all-mixed-content;
        {{ range . }} {{ .Name }} {{ .Source -}}; {{ end -}}">
{{- end -}}
<title>{{ .Title }} | {{ site.Title }}</title>
{{- with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
{{- end -}}
{{- with .Site.Params.author -}}
<meta name="author" content="{{ . }}">
{{- end -}}

{{/*  favicon  */}}
{{ partial "favicon.html" }}

{{/* inline css */}}
{{ partial "inline.html" . }}

{{/* RSS feed */}}
{{ with .OutputFormats.Get "RSS" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{- end }}