{{/* site metadata */}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{/*  content security policy  */}}
{{ partial "head/csp.html" }}

<title>{{ .Title }} | {{ site.Title }}</title>
{{- with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
{{- end -}}
{{- with .Site.Params.author -}}
    <meta name="author" content="{{ .Name }}">
{{- end -}}

{{/*  set meta description  */}}
{{- with .Summary }}
    <meta name="description" content="{{ . }}">
{{ end -}}

{{/*  favicon  */}}
{{ partial "head/favicon.html" }}

{{/* inline css */}}
{{ partial "head/inline.html" . }}

{{/* RSS feed */}}
{{ with .OutputFormats.Get "RSS" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{- end }}